name: Publicar Web y Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Instalar dependencias
        run: |
          pip install mkdocs-material
          pip install mkdocs-mermaid2-plugin

      - name: Construir y Preparar Sitio
        run: |
          # 1. Construir la documentación
          # -f indica dónde está el archivo de configuración
          # -d indica que guarde el resultado en una carpeta temporal llamada 'site_build'
          mkdocs build -f documentacion/mkdocs.yml -d site_build

          # 2. Crear carpeta pública (usamos -p para evitar el error si ya existe)
          mkdir -p public

          # 3. Copiar la Landing Page (carpeta web) a la raíz de public
          # El -r es recursivo, el . hace que incluya archivos ocultos si los hubiera, 
          # pero web/* es suficiente para lo visible.
          cp -r web/* public/

          # 4. Mover la documentación construida a la subcarpeta 'docs'
          mv site_build public/docs

      - name: Desplegar a GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
